.innerCommentContainer{
    border: black 1px dotted;
    padding: 15px;
    margin: 20px;
    width: 90%;
}

textarea {
    resize: none;
    margin: 20px;
    width: 90% ;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif
  }

  .comment-submit { 
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .deleteButton {
    font-size: small;
    color: grey;
    cursor: pointer;
  }

  .editCommentComponent {
    padding-left: 5px;
  }

  .deleteEditContainer {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
  }

  .subredditName {
    font-weight: bold;
    font-size: small;
}

.postedBy {
    font-size: small;
    color: grey;
}

.commentpostedBy {
  font-weight:bold;
  font-size: small;
  color: rgb(83, 81, 81)

}