.Outer-modal-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 300px; */
    /* height: 350px; */

}


.Inner-modal-Container{
    text-align: center;
justify-content: center;
padding: 10px;
/* border-width: thin;
    border-style: solid; */
    border-radius: 0px;
    padding-left: 30px;
padding-right: 30px;
    /* background-color: rgba(0,0,0,.7) */
}

.title-log-container{
   
    text-align: center
}

.errors{
    justify-content: center;
    color: black;
    padding: 10px;
}


.signupButton{
    width:100%;
    background-color: #FF4301;
    color: white;
    border-radius:20px;
    padding:10px;
    margin-top: 5%;
    margin-bottom: 2%;
    border: none;
    font-weight: bold;
    font-size: 13px;
}

.form-inputs{
    padding: 10px;
    margin: 10px;

}

.Password-Container{
    padding-top: 15px;
    padding-bottom: 20px;

}
