.outerPostContainer {
    margin: auto;
    justify-content: flex;
    align-items: center;
    /* border: red 1px solid; */
    width: 60%;
}

.innerPostContainer {
    border: black 1px dotted;
    padding: 25px;
    border-radius: 10px;
    margin: 20px;

}


.createPostButton{
    background-color: white;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    cursor: pointer;
    padding:5px;
    width:300px;
    border-radius: 17px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    margin-bottom: 35px;

}

.createPostButton:hover{
    background-color: #FF4301;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #FF4301;
    cursor: pointer;
    padding:5px;
    width:300px;
    border-radius: 17px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    margin-bottom: 35px;
}

.welcome{
    text-align: center;
}