.postTitle {
    margin-left: 10px;
    /* margin-top: 10px; */
    font-weight: bold;
    color: white;
}

#light .postTitle {
    margin-left: 10px;
    /* margin-top: 10px; */
    font-weight: bold;
    color: black;
}

.subredditNameComment {
    color: #FF4301;
    font-weight: bold
}



.myProfile {
    text-align: center;
    padding-bottom: 20px;    
}

.yourContent{
    text-align: center;
}

.nothing {
    text-align: center;
}

.blind {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.innerYourPostContainer{
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid rgb(94, 92, 92);
    border-radius: 10px;
    background-color: #2b2928;
}

#light .innerYourPostContainer{
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid rgb(94, 92, 92);
    border-radius: 10px;
    background-color: #d4d3d3;
}