.postTitle {
    margin-left: 10px;
    font-weight: bold;
    color: grey;
}

.subredditNameComment {
    color: rgb(102, 101, 101);
    font-weight: bold
}
.myProfile {
    text-align: center;
    padding-bottom: 20px;    
}

.yourContent{
    text-align: center;
}

.nothing {
    text-align: center;
}

.blind {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}