.post-form {
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.outerFormContainer{
    border: 1px solid black
}

.postText{
    padding: 10px;
    margin: 0px;
}

.title{
    width: 90%;
    padding: 10px;
    margin-bottom: 0px;
}

.selectField{
    padding: 10px;
}

  
/* .options:hover {
    padding: 10px;
    background-color: #FF4301;
} */

select {
  
    background-color: #FF4301;
   
    border-radius: 10px;
    
    color: white;
    margin: 0;
    overflow: hidden;
    font-weight: bold;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .wordLimitCreatePost {
    display: flex;
    justify-content: flex-end;
    /* width: 110%; */
    margin-bottom: 10px;
    margin-right: 110px;
    font-size: 12px;
      color: grey;
  }